<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!--
	<table border="1" th:with="target='u0001'">
		<tr>
			<td>MID</td>
			<td>MNAME</td>
			<td>REGDATE</td>
		</tr>
		
		<tr th:each="member : ${list}">
			<td th:if="${member.mid}">
				<a href="/modify" th:if="${member.mid == target}"> MODIFY</a>
				<p th:unless="${member.mid == target}">VIEW</p>
			</td>
			<td th:text="${member.mid == target ?'SECRET':member.mid}"></td>
			<td th:text="${member.mname}">Doe</td>
			<td th:text="${#dates.format(member.regdate, 'yyyy-MM-dd')}"></td>
		</tr>
		
	</table>
	-->
	
		<div th:insert="~{fragments/header::header}"></div>

 			<ul>
				<li><a th:href="@{http://localhost:8080/sample1}"></a>sample1</li>
				<li><a th:href="@{/sample1}">sample1</a></li>
				<li><a th:href="@{~/sample1}">sample1</a></li>
			</ul>
	
		<div th:insert="~{fragments/footer::footer}"></div>
	
</body>
</html>